<div class="container " >
  <div class="jumbotron" >
    <h2>Component testing using Jasmine</h2>
    <ul>
      <li>Made 5 components as described below</li>
      <li>Tested each of the described methods with positive and negative senarios</li>
    </ul>
  </div>
  <br>
  <hr>
  <div class="table-responsive">
   <table class="table table-striped bg-white">
      <thead class="bg-primary text-white">
        <tr>
          <th>Component</th>

          <th>Methods</th>

          <th>Testing</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td>HomeComponent</td>
          <td>sayHello()</td>
          <td>Tested emitting using spyOn</td>
        </tr>
        <tr>
          <td>AdditionComponent</td>
          <td>add()</td>
          <td>Tested emitting using toEqual</td>
        </tr>
        <tr>
          <td>SubtractionComponent</td>
          <td>subtract()</td>
          <td>Tested emitting using toEqual</td>
        </tr>
        <tr>
          <td>DivisionComponent</td>
          <td>divide()</td>
          <td>Tested emitting using toEqual</td>
        </tr>
        <tr>
          <td>MultiplicationComponent</td>
          <td>multiply()</td>
          <td>Tested emitting using toEqual</td>
        </tr>
      </tbody>
   </table>
  </div>
</div>
